.loginContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.loginButton{
    background-color: #1a2456;
    padding: 8px;
    color: #efc2b3;
    
    border: none;
    font-size: larger;
    font-weight: bolder;
}

.formStyles{
    width: 400px;
    display: flex;
    flex-direction: column;
}
.loginCol{
    color: black;
}

.registerLink{
    font-size: larger;
    font-weight: bolder;
    color: #1a2456;
}